    <h1>SEJA BEM VINDO</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-2">
    
            <h3>Área exclusiva para novos clientes</h3>
            <hr />
            <h4>Se você não tem a senha de acesso por favor </h4>
            <h4> entrar em contato pelo telefone (13) 99184-6502</h4>
 
    </div>
    <div class="col-md-3 col-md-offset-2">

        <form id="loginForm" method="post">

            <h4>Entre com o usuário e a senha enviados pelo WhatsApp</h4>
            <hr />
            <div>
                <input type="text" name="usuario" class="form-control" placeholder="Usuário" aria-required="true" />
            </div>

            <br />

            <div>
                <input type="text" name="senha" class="form-control" placeholder="Senha" aria-required="true" />
            </div>

            <br />

            <div>
                <div class="checkbox">
                    <button type="submit" class="form-control btn-primary">Acessar</button>
                </div>
            </div>
        </form>
        
    </div>
</div>

<script>
    document.getElementById("loginForm").addEventListener("submit", function (e) {
        // Previne o envio do formulário para manipulação dos dados
        e.preventDefault();

        // Captura os campos de entrada
        const usuarioInput = document.querySelector("input[name='usuario']");
        const senhaInput = document.querySelector("input[name='senha']");

        // Processa os valores: remove espaços e converte para letras minúsculas
        const usuario = usuarioInput.value.trim().toLowerCase();
        const senha = senhaInput.value.trim().toLowerCase();

        // Atualiza os campos com os valores processados
        usuarioInput.value = usuario;
        senhaInput.value = senha;

        // Submete o formulário
        this.submit();
    });


</script>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <script>
        alert('@ViewBag.ErrorMessage');
    </script>
}