<br />
<img src="~/imagens/negado1.jpg" alt="Área de Administração" class="marginTop1" />
<div class="container">

    <div class="jumbotron">
        <p>
            <h2>Entre em contato com o Administrador</h2>
            <h2>Para liberar o acesso</h2>
        </p>
    </div>
    
</div>