<div>
    <h3>
        Obrigado por confirmar sua conta. Por gentileza, @Html.ActionLink("Clique aqui para fazer o login", "Login", "Account",
        routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h3>
</div>
