<hgroup class="title">
    <h1>Confirmação de senha esquecida</h1>
</hgroup>
<div>
    <h3 style="color: green">
        <i class="fa-solid fa-thumbs-up"></i>
        Verifique seu e-mail para criar uma nova senha.
        <i class="fa-solid fa-thumbs-up"></i>
    </h3>   
</div>
	
