<hgroup class="title">
    <h1>Confirmação de senha esquecida</h1>
</hgroup>
<div>
    <h3 style="color: red">
        <i class="fa-solid fa-thumbs-down"></i>
        Este e-mail NÃO CONSTA em nossa base de dados
        <i class="fa-solid fa-thumbs-down"></i>
        
    </h3>
</div>

