<hgroup class="title">
    <h1>Confirmação de senha esquecida</h1>
</hgroup>
<div>
    <p>
        Sua senha foi alterada com sucesso. Por favor, @Html.ActionLink("clique aqui para fazer login usando sua nova senha", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
